h1
{
   text-align: center;
   font-family: Showcard Gothic;
}
h2
{
   text-align: center;
   font-family: Showcard Gothic;
}
h3
{
   text-align: center;
   font-family: Showcard Gothic;
}
h4
{
   text-align: center;
   font-family: Showcard Gothic;
}
p
{
   text-align: center;
   font-family: Showcard Gothic;
}
button
{
   margin: auto;
   display: block;
}
body
{
   background-color: #b3b3b3;
}

